html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: white;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  transform: translate3d(0, 0, 0);
}

.padding {
  padding: 1rem;
}
