{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/no-var-requires": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": [
          ["builtin", "external"],
          ["internal"],
          ["parent", "sibling"],
          ["index"]
        ],
        "alphabetize": {
          "order": "asc"
        }
      }
    ],
    "import/first": "error",
    "import/exports-last": "error",
    "import/newline-after-import": "error",
    "import/default": "error",
    "import/no-useless-path-segments": "error",
    "import/no-cycle": "error"
  }
}
